name: Ecommerce Microservices CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-services:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - cart-service
          - product-service
          - order-service
          - payment-service

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: ecommerce
        options: >-
          --health-cmd "pg_isready -U postgres -d ecommerce"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r source-code/${{ matrix.service }}/requirements.txt

      - name: Run tests
        run: |
          pytest source-code/${{ matrix.service }}/tests

